name: Build all packages

on:
  push:
  workflow_dispatch:
    inputs:
      upload_to_artifactory:
        description: Upload built packages to artifactory
        type: boolean
        default: false
      build_dependencies_from_source:
        description: Build all dependencies from source (conan install --build=* instead of --build=missing)
        type: boolean
        default: false
      package_include_patterns:
        description: Include patterns for packages
        type: string
      package_exclude_patterns:
        description: Exclude patterns for packages
        type: string
      platform_include_patterns:
        description: Include patterns for platforms
        type: string
      platform_exclude_patterns:
        description: Exclude patterns for platforms
        type: string

run-name: Build all packages

env:
  # renovate: datasource=python-version depName=python
  PYTHON_VERSION: 3.13

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  generate-matrix:
    runs-on: ubuntu-24.04
    outputs:
      packages: ${{ steps.list-packages.outputs.packages }}
    steps:
      - name: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          # Fetch whole git history.
          # Required to parse modified packages
          fetch-depth: 0

      - name: setup python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: install python dependencies
        run: python -m pip install -r requirements.txt

      - name: conan config
        run: conan config install .github/config/conan

      - name: conan export all packages
        run: python scripts/conan_export_all_packages.py

      - name: get selected packages from commits and workflow_dispatch inputs
        id: list-packages
        run: python scripts/list_package_references.py
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
          GITHUB_INPUT: ${{ toJson(inputs) }}

  build:
    if: ${{ needs.generate-matrix.outputs.packages != '[]' && needs.generate-matrix.outputs.packages != '' }}
    name: ${{ matrix.package.package_reference }}
    needs:
      - generate-matrix
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.generate-matrix.outputs.packages) }}
    uses: ./.github/workflows/build_one.yml
    with:
      directory: ${{ matrix.package.directory }}
      package_name: ${{ matrix.package.package }}
      package_version: ${{ matrix.package.version }}
      upload_to_artifactory: ${{ github.repository_owner == 'opendocument-app' && (github.ref == 'refs/heads/main' || (github.event_name == 'workflow_dispatch' && github.event.inputs.upload_to_artifactory == 'true')) }}
      build_dependencies_from_source: ${{ github.event.inputs.build_dependencies_from_source == 'true' }}
      platform_include_patterns: ${{ github.event.inputs.platform_include_patterns }}
      platform_exclude_patterns: ${{ github.event.inputs.platform_exclude_patterns }}
    secrets:
      ARTIFACTORY: ${{ secrets.ARTIFACTORY }}
