name: Remove packages from artifactory

on:
  workflow_dispatch:
    inputs:
      package_name:
        description: Package name pattern
        type: string
        default: "*"

run-name: Remove ${{ inputs.package_name }} from artifactory

env:
  # renovate: datasource=python-version depName=python
  PYTHON_VERSION: 3.14

jobs:
  remove:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - run: python -m pip install -r requirements.txt

      - run: conan remote add odr https://artifactory.opendocument.app/artifactory/api/conan/conan
      - run: conan remote login odr admin --password ${{ secrets.ARTIFACTORY }}

      - run: conan remove --remote=odr "${{ github.event.inputs.package_name }}" --confirm
