name: Remove packages from artifactory

on:
  workflow_dispatch:
    inputs:
      package_name:
        description: Package name pattern
        type: string
        default: "*"

run-name: Remove ${{ inputs.package_name }} from artifactory

env:
  # renovate: datasource=python-version depName=python
  PYTHON_VERSION: 3.13

jobs:
  remove:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - run: python -m pip install -r requirements.txt

      - run: conan remote add odr https://artifactory.opendocument.app/artifactory/api/conan/conan
      - run: conan remote login odr admin --password ${{ secrets.ARTIFACTORY }}

      - run: conan remove --remote=odr "${{ github.event.inputs.package_name }}" --confirm
